
.gpt3__features{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.gpt-3__features-heading {
    text-transform: capitalize;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
   
}
.gpt-3__features-heading p{
    margin-top: 10px;
}

.gpt-3__features-feature{
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width:990px){
    .gpt3__features{
       
        flex-direction: column;
    }
}